/* Responsive Screens   */
@media screen and (min-width: 768px) {
  .responsive-mode .header-main__nav,
  .header .menu {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 7vw;
  }
  h4 {
    font-size: 6vw;
  }
  h5 {
    font-size: 5vw;
  }
  .header-main {
    padding-bottom: 5rem;
  }
  .header-banner {
    margin-left: 2rem;
    margin-top: -3rem;
  }
  .input-group-prepend,
  .input-group-text {
    padding: 12px 20px;
  }
  .news-thumbs {
    display: none;
  }
  #news .card-second {
    display: none;
  }
  .mission-top {
    height: 540px;
  }
  .mission-top img {
    height: 220px !important;
  }
  #mission {
    margin: 2rem 0 0rem;
  }
  #gallery {
    padding: 6rem 0 0;
  }
  #founders {
    height: 190px;
  }
  .footer-nav__left li {
    margin: 1rem 4rem 0 0;
    width: 80px;
  }
  footer li {
    margin: 0;
  }
  .footer-nav__right {
    display: none;
  }
  .footer-top__right {
    display: inline-block !important;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-bottom li {
    margin: 14px 14px 14px 0;
  }
}
