@font-face {
  font-family: "Galaxie Copernicus";
  src: url("fonts/GalaxieCopernicus.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  src: url("fonts/Inter-Bold.ttf") format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #5d5955;
  background: #f2efee;
  overflow-x: hidden;
  font-family: "Galaxie Copernicus", Courier, monospace;
  font-size: 14px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #414141;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  font-family: "Galaxie Copernicus", Courier, monospace;
  margin: 10px 0;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 14px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #414141;
}
p a {
  color: #ce2e85;
}
p a:hover {
  color: #ce2e85;
  text-decoration: underline;
}
p {
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul {
  margin-bottom: 0px;
}
figure {
  margin-bottom: 6px;
  position: relative;
}
img {
  max-width: 100%;
}
strong {
  color: #414141;
}
iframe {
  border: none;
  float: left;
  width: 100%;
}
.section h5 {
  font-family: "Inter Bold", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.h-divider {
  border-top: 2px solid #ffffff2a;
  width: 90%;
  margin: 0 auto;
  margin-left: 50px;
}
.text-header-primary {
  color: #003a92;
}
/* Header Styles Starts */

.header-main {
  padding-bottom: 20rem;
}

.header-top .fab,
.header-top a {
  color: #74788a;
  font-size: 18px;
}

header a {
  color: #000;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.logo img {
  width: 148px;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header-main__nav .menu a {
  color: #3c3c3c;
  font-family: "Inter", Courier, monospace;
  font-size: 14px;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.header-main__description h2 {
  color: #003a92;
}
.input-group-prepend {
  border: 1px solid #c4c4c4;
  border-right: 0;
  padding: 16px 25px;
  border-radius: 2px;
}
.read-more {
  color: #3c3c3c;
  font-size: 18px;
  font-family: "Inter Bold", Courier, monospace;
}
.input-group-text {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 16px 25px;
}
.header-banner {
  margin-left: 8rem;
  margin-top: -18rem;
}
.header-banner img {
  width: 100%;
}
/* Header Styles Ends */

/* News Styles Starts */
.date-separator {
  width: 32px;
  color: #c4c4c4;
  position: relative;
  bottom: 3px;
}
.news-date .card-title {
  color: #74788a;
  font-family: "Inter Bold", Courier, monospace;
  text-transform: uppercase;
}
.news-header {
  line-height: 38.4px;
  color: #3c3c3c;
}
.news-thumbs .news-header {
  line-height: 25.2px;
}
#news .card {
  background-color: transparent;
  border: 1px solid #fff !important;
  padding: 38px !important;
  border-radius: 0;
}
#news .card-body {
  padding: 1.25rem 0;
}
.news-more svg {
  color: #3c3c3c;
}
.news-more > div {
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
}
/* News Styles Ends */

/* Mission Styles Starts */
#mission {
  margin: 2rem 0 12rem;
}
.mission-top {
  background-color: #8c2531;
  height: 700px;
}
/* Mission Styles Ends */

/* Benificiaries Styles Starts */
.owl-carousel .item {
  height: auto;
  padding: 1rem;
}
.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
/* Benificiaries Styles Ends */

/* Gallery Styles starts */
#gallery {
  padding: 16rem 0 8rem;
}
#gallery .card {
  padding: 38px;
  border-radius: 0;
  border-color: #f2efee;
}
#gallery .card-body {
  padding: 0;
}
#gallery span {
  color: #74788a;
  font-family: "Inter", Courier, monospace;
  margin-top: 1rem;
}
/* Gallery Styles Ends */

/* Founders Styles Starts */
#founders {
  background-color: #d7c3ae;
  height: 470px;
}
#founders .container {
  position: relative;
}
.founders-overlay {
  position: absolute;
  top: 58%;
  left: 15px;
  width: 100%;
}
/* Founder Styles Ends */

/* Footer Styles Starts */
footer {
  background-color: #3c3c3c;
}
footer li {
  float: left;
  list-style: none;
  margin: 0 4rem 0 0;
}
footer li a {
  font-family: "Inter", Courier, monospace;
  font-size: 14px;
}
.footer-top img {
  width: 100px;
  height: auto;
}
.footer-nav {
  border-top: 1px solid #ffffff1a;
}
.footer-nav svg {
  font-size: 18px;
}
.footer-bottom li a,
.footer-bottom li span {
  color: #ffffff5a;
}
/* Footer Styles Ends */
.responsive-mode .no-canvas-menu {
  display: none;
}
.responsive-mode .canvas-menu {
  display: block !important;
}
.responsive-mode .header-main__nav,
.header .menu {
  background-color: #003a92;
}
.responsive-mode .header .menu-icon .navicon:before,
.responsive-mode .header .menu-icon .navicon:after {
  background: #fff;
}
.responsive-mode .header-main__nav .menu a {
  color: #fffc;
}
